# Use PHP5.6 as default
AddHandler application/x-httpd-php56 .php
# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
RewriteBase /
RewriteEngine On
Options -Indexes

# Ensure https is on. required for shibboleth auth
RewriteCond ${HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST} [R,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


# DISABLE CACHING
<FilesMatch "\.(css|flv|gif|htm|html|php|ico|jpe|jpeg|jpg|js|mp3|mp4|png|pdf|swf|txt)$">
	<IfModule mod_expires.c>
		ExpiresActive Off
	</IfModule>
	<IfModule mod_headers.c>
		FileETag None
		Header unset ETag
		Header unset Pragma
		Header unset Cache-Control
		Header unset Last-Modified
		Header set Pragma "no-cache"
		Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
	</IfModule>
</FilesMatch>


# Two options, lazy loading where people do not need to authenticate to get to your site
<If "%{HTTPS} == 'on'">
SSLRequireSSL
AuthType shibboleth
ShibRequireSession Off
require shibboleth
#ShibRequestSetting requireSession false
ShibRedirectToSSL 443
</If>

# Or no lazy loading, strict requirement of shib authentication before accesing site
#<If "%{HTTPS} == 'on'">
#SSLRequireSSL
#AuthType shibboleth
#ShibRequireSession On
#require valid-user
# see https://www.rit.edu/webdev/authenticating-and-authorizing-rit-users for other require options
#</If>


# ErrorDocument 401 http://cyber.rit.edu/oops/401.php
# ErrorDocument 403 http://cyber.rit.edu/oops/403.php
# ErrorDocument 404 http://cyber.rit.edu/oops/404.php
# ErrorDocument 500 http://cyber.rit.edu/oops/500.php
